@import "setup";
$primary-color: #ffffff;
$secondary-color: #0d457f;
$third-color: #fdd908;
$fourth-color: #eafefc;

// general style

html {
    font-size: 125%;
    font-family: 'Roboto', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: $primary-color;
}

nav {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 29px;
}

header {
    height: 80vh;
    width: 100%;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

.container {
    display: flex;
}

.yellow-button {
    padding: 0.5rem 1rem;
    background-color: $third-color;
    text-transform: uppercase;
    color: $secondary-color;
    display: inline-block;
    margin-top:2rem;
}

h1,h2,h3,h4,.yellow-button{
    font-family: 'IM Fell English', serif;
    text-transform: uppercase;
    font-style: italic;
}

h1 {
    font-size: 79px;
    color: $third-color;
    width: 50%;
    margin: 0 0 4% 7.5%;
}

h2 {
    margin:0;
    font-size: 45px;
    line-height: 99.8px;
    color: $secondary-color;
}

h3{
    margin: 0;
    font-size: 40px;
    letter-spacing: 1.3px;
    line-height: 58px;
}

h4{
    font-size: 22.4px;
    line-height: 58px;
    font-style: italic;
    letter-spacing: 0.8px;
}

img {
    width: 100%;
    display: block;
}

p {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
    margin:0;
}

// _________index.html starts here_______________________

// Header

.index-header {
    background: url(../assets/home-header.jpg) no-repeat;
    background-size: cover;
}

.header-container{
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    ul {
        display: flex;
        margin-left:7.5%;
        a {
            display: block;
            padding: 1rem;
        }       
    }
}

.header-bottom-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    figure {
        position: relative;
        top: 5rem;
    }
}


// about section

.about {
    background-color: $fourth-color;
    .container-boxes{
        padding-top: 15%;
        padding-bottom: 13%;
        flex-wrap: wrap;
        .box{
            width: 50%;
        }
    }
}

.box-text {
    display: flex;
    flex-direction: column;
}

.i-container {
    padding-top: 1rem;
    margin-right: 1rem;
}

.i-container i {
    background: $third-color;
    padding:15px;
    border-radius: 50%;
    font-size: 1.2rem;
    color:$secondary-color;
}

// program section

.program {
    background-color: $secondary-color;
    padding-bottom: 2rem;
    .container{
        flex-wrap: wrap;
        .box {
            width: 50%;
            color: white;
        }
    }
}
.figure1{
    box-shadow: $third-color 15px 15px;
    position: relative;
    right:9%;
    bottom: 1rem;
    img {
        height: 100%;
    }
}
.figure2{
    box-shadow: $third-color -15px 15px;
    position: relative;
    left:9%;
    top:3rem;
    img {
        height:100%;
    }
}

.box1 {
    padding-left: 8%;
    padding-top: 2.5rem;
}

.box2 {
    padding-right: 8%;
    padding-top: 2.5rem;
    text-align: right;
    p {
        text-align: left;
    }
}

// extra vacations days?

.extra-days{
    background-color: $fourth-color;
    padding: 7% 4%;
    .container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
} 

// win-trip

.win-trip {
    background-color: $fourth-color;
    padding: 7% 4%;
    .container {
        justify-content: space-between;
        .win-box1 {
            width: 40%;
            display: flex;
            align-items: center;
        }
        .win-box2{
            width: 60%;
            display: flex;
            flex-direction: column;
        }
    }
}

.win-trip figure{
    box-shadow: $third-color -15px 15px;
}

// gallery

.gallery {
    background-color: $secondary-color;
    padding: 7% 4%;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            width: 32%;
        }
    }
}

//  footer
footer {
    background-color: $third-color;
    text-align: center;
    padding: 1% 0;
}

// ________________________Index.html finish_______________

// ________________-blog.html starts___________

// header

.blog-header{
    background: url(../assets/blog-header.jpg) no-repeat;
    background-size: cover;
    .header-container {
        justify-content: flex-start;
        h1{
            color: white;
             margin-top: 8%;
        }
    }
}

// main section blog
.blog-page{
    background-color: $fourth-color;
    .blog-container {
        display: flex;
        padding-top: 25%;
        article {
            width: 55%;
        }
    }
}

aside {
    width: 45%;
    display: flex;
    flex-direction: column;
    div {
        background-color: $secondary-color;
        h4 {
            color:$third-color;
        }
        p {
            color: white;
        }
        ul {
            list-style: disc;
            list-style-position: inside;
        }
        li {
            color: white;
        }
        div {
            padding: 2%;
        }
        figure {
            position: relative;
            right:20%;
        }
    }
}

article {
    display: flex;
    flex-direction: column;
}