@import "setup";
$primary-color: #ffffff;
$secondary-color: #0d457f;
$third-color: #fdd908;
$fourth-color: #eafefc;

// general style

html {
    font-size: 125%;
    font-family: 'Roboto', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: $primary-color;
}

nav {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    line-height: 29px;
}

header {
    height: 80vh;
    width: 100%;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

.container {
    display: flex;
}

.yellow-button {
    padding: 0.5rem 1rem;
    background-color: $third-color;
    text-transform: uppercase;
    color: $secondary-color;
    display: inline-block;
    margin-top:2rem;
}

.yellow-button:hover {
    border: 3px white solid;
    border-radius: 50px;
}

.yellow-button:active {
    background-color: #e2c313;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

h1,h2,h3,h4,.yellow-button{
    font-family: 'IM Fell English', serif;
    text-transform: uppercase;
    font-style: italic;
}

h1 {
    font-size: 79px;
    color: $third-color;
    width: 50%;
    margin: 0 0 4% 7.5%;
}

h2 {
    margin:0;
    font-size: 45px;
    line-height: 99.8px;
    color: $secondary-color;
}

h3{
    margin: 0;
    font-size: 40px;
    letter-spacing: 1.3px;
    line-height: 58px;
}

h4{
    font-size: 25px;
    line-height: 58px;
    font-style: italic;
    letter-spacing: 0.8px;
}

h5 {
    font-size: 20px;
    letter-spacing: 1px;
    margin:0.25rem;
}

img {
    width: 100%;
    display: block;
}

p {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
    margin:0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

// _________index.html starts here_______________________

// Header

.index-header {
    background: url(../assets/home-header.jpg) no-repeat;
    background-size: cover;
}

.header-container{
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    ul {
        display: flex;
        margin-left:7.5%;
        a {
            display: block;
            padding: 1rem;
        }
        li:hover::after {
            content: "";
            display: block;
            width: 80%;
            height: 5px;
            position: relative;
            margin-left:10%;
            bottom: 20%;
            background: $third-color;
            border-radius: 50px;
        }  
        a:focus {
            border: 4px solid $third-color;
        }     
    }
}

.header-bottom-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    figure {
        position: relative;
        top: 5rem;
    }
}


// about section

.about {
    background-color: $fourth-color;
    .container-boxes{
        padding-top: 15%;
        padding-bottom: 13%;
        flex-wrap: wrap;
        .box{
            width: 50%;
        }
    }
}

.box-text {
    display: flex;
    flex-direction: column;
}

.i-container {
    padding-top: 1rem;
    margin-right: 1rem;
}

.i-container i {
    background: $third-color;
    padding:15px;
    border-radius: 50%;
    font-size: 1.2rem;
    color:$secondary-color;
}

// program section

.program {
    background-color: $secondary-color;
    padding-bottom: 2rem;
    .container{
        flex-wrap: wrap;
        .box {
            width: 50%;
            color: white;
        }
    }
}
.figure1{
    box-shadow: $third-color 15px 15px;
    position: relative;
    right:9%;
    bottom: 1rem;
    img {
        height: 100%;
    }
}
.figure2{
    box-shadow: $third-color -15px 15px;
    position: relative;
    left:9%;
    top:3rem;
    img {
        height:100%;
    }
}

.box1 {
    padding-left: 8%;
    padding-top: 2.5rem;
}

.box2 {
    padding-right: 8%;
    padding-top: 2.5rem;
    text-align: right;
    p {
        text-align: left;
    }
}

// extra vacations days?

.extra-days{
    background-color: $fourth-color;
    padding: 7% 4%;
    .container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
} 

// win-trip

.win-trip {
    background-color: $fourth-color;
    padding: 7% 4%;
    .container {
        justify-content: space-between;
        .win-box1 {
            width: 40%;
            display: flex;
            align-items: center;
        }
        .win-box2{
            width: 60%;
            display: flex;
            flex-direction: column;
        }
    }
}

.win-trip figure{
    box-shadow: $third-color -15px 15px;
}

// gallery

.gallery {
    background-color: $secondary-color;
    padding: 7% 4%;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            width: 32%;
        }
    }
}

//  footer
footer {
    background-color: $third-color;
    text-align: center;
    padding: 1% 0;
}

// ________________________Index.html finish_______________

// ________________-blog.html starts___________

// header

.blog-header{
    background: url(../assets/blog-header.jpg) no-repeat;
    background-size: cover;
    .header-container {
        justify-content: flex-start;
        h1{
            color: white;
             margin-top: 8%;
        }
    }
}

// main section blog
.blog-page{
    background-color: $fourth-color;
    .blog-container {
        display: flex;
        padding-top: 12.5%;
        .article-container {
            width: 60%;
        }
        aside {
            width: 40%;
            display: flex;
            flex-direction: column;
        }
    }
}
.aside-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside{
    position: relative;
    figure {
        width: 82.5%;
        img {
            display: block;
            height: 100%;
            width: 93%;
        }
    }
}

aside figure::after {
    content: "";
    position: absolute;
    width: 5.79%;
    height: 30%;
    left: 76.7%;
    bottom:0;
    top:13px;
    right:0;
    background-color: $secondary-color;
}

.aside-text-container {
    background-color: $secondary-color;
    padding: 3% 6% 3% 3%;
    width: 65%;
    h4 {
        color:$third-color;
        margin: 0;
    }
    p {
        color: white;
        margin-bottom: 14%;
    }
    ul {
        list-style: disc;
        list-style-position: inside;
    }
    li {
        color: white;
        padding-bottom: 3%;
    }
}
// article


article {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    bottom:13%;
    margin-bottom: -20%;
}

.img-container{
    box-shadow: inset 29px -13px $third-color;
    width: 98%;
    figure {
        position: relative;
        bottom:0.65rem;
        left:2%;
    }
}
.text-container {
    box-shadow: inset 2px -2px 0px 2px $third-color;
    .deep-text-container {
        margin-left:5%;
        padding-bottom: 9%;
        padding-left: 5%;
        padding-top: 3%; 
        p {
            padding-bottom: 3%;
        }
    }
}

.comments {
    margin-left:5%;
    padding-bottom: 9%;
    padding-left: 5%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    h3 {
        color: $secondary-color;
        margin: 7% 0;
    }
}

.comment-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15%;
    figure {
        width: 10%;
    }
    .comment-text {
        width: 90%;
        padding: 0 4%;
        h5{
            font-weight: bold;
            color:$secondary-color;
        }
    }
}

// 

.form-blog {
    display: flex;
    flex-direction: column;
    .input-container {
        display: flex;
        input[type="text"],input[type="email"] {
            background: none;
            border: none;
            width: 45%;
            padding: 1rem;
            padding-left: 2rem;
            border-bottom: 2px solid $third-color;
            margin-right: 5%
        }
        input::placeholder {
            opacity: 1;
        }
        input[type="text"]:focus,input[type="email"]:focus {
            background-color:$third-color;
            border-radius: 50px;
            font-size: 1.5rem;
        }
        input[type="text"]:active,input[type="email"]:active {
            border: 1rem red solid;
        }
    }
}

.text-area-container {
    margin-right: 5%;
    margin-top: 5%;
    textarea{
        width: 100%;
        background: none;
        border: 2px $third-color solid;
        padding: 2rem;
        resize: none;
    }
    textarea::placeholder {
        opacity: 1;
    }
    textarea:focus {
        background-color: $third-color;
        font-size: 2rem;
    }
    textarea:active {
        border: 1rem red solid;
    }
}

input[type="submit"] {
    width: 95%;
    background: $secondary-color;
    color: $third-color;
    margin-bottom: 4%;
}

input[type="submit"]:active {
    background-color: #022636;
}

// _______________contact_______________________

.get-in-touch-header {
    background: url(../assets/contact-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        margin-top: 10%;
        color: white;
    }
}

.contact {
    background-color: $fourth-color;
}

.contact-container {
    display: flex;
    margin-bottom: -3%;
}

.contact-box1 {
    width: 30%;
}

.contact-box2{
    width: 70%;
    .form-blog {
        background-color: $secondary-color;
        padding: 4rem 2rem;
        width: 90%;
        box-shadow: $third-color 25px 25px;
        position: relative;
        bottom: 30%;
        input[type="text"],input[type="email"] {
            padding-left: 1rem;
        }
        input::placeholder {
            color: white;
            opacity: 1;
        }
        textarea::placeholder {
            color: white;
        }
        input[type="submit"]{
            background-color: $third-color;
            color: $secondary-color;
        }
    }
}

.contact-box1{
    padding: 5%;
    p:first-of-type {
        padding-bottom: 2rem;
    }
    div{
        display: flex;
        i {
            padding: 1rem 1.25rem 1rem 0;
            color: $secondary-color;
        }
    }
}

.contact-footer {
    color: $secondary-color;
}

// media querys
@media (max-width: 1800px) {
    .header-boat figure {
            top: 8rem;
        }
}
@media (max-width: 1400px) {
    .header-boat figure {
        top: 5rem;
    }
}
/* Portrait tablet and small desktops */
@media (max-width: 1185px){
    .header-container{
        flex-direction: column;
        justify-content: space-between;
    } 
    .header-bottom-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h1 {
            align-self: flex-start;
        }
        figure {
            position: static;
            width: 70%;
        }
    }
    .header-boat {
        display: flex;
        justify-content: flex-end;
    }
    .about .container-boxes .box {
        width: 100%;
        padding: 1.5rem;
    }
    .win-trip .container .win-box2 {
        padding-left: 5%;
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 877px){
    .header-bottom-container {
        flex-direction: column;
        h1 {
            margin-top: 15%;
            font-size: 55px;
            width: 30%;
            margin-bottom: 5%;
        }
        figure {
            width: 70%;
            position:static;
        }
    }
    .header-boat {
        display: flex;
        justify-content: flex-end;
    }
    .program .container .box {
        width: 100%;
    }

    .program .container .box2 {
        order: 5;
        padding-top: 20%;
    }
    .win-trip {
        .container {
            justify-content: space-between;
            flex-wrap:wrap;
            .win-box1 {
                width: 100%;
                display: flex;
                align-items: center;
                padding-bottom: 5%;
            }
            .win-box2{
                width: 100%;
                display: flex;
                flex-direction: column;
                padding-left: 0%;
            }
        }
    }
    .gallery {
        ul {
            li {
                width: 100%;
                padding: 1rem;
            }
        }
    }
    .blog-container {
        flex-wrap: wrap;
        article {
            position: static;
            margin-bottom: 0;
        }
    }
    
    .blog-page .blog-container aside {
        width: 100%;
        figure::after {
            display: none;
        }
    }

    .blog-page .blog-container .article-container {
        width: 100%;
        margin-left: 1.5%;
    }

    .aside-text-container {
        width: 90%;
        text-align: center;
        margin-bottom: 10%;
        border-radius: 50px;
        border: 3px $third-color solid;
        p {
            margin-bottom: 5%;
        }
    }
    aside{
        display: flex;
        align-items: center;
        figure {
            width: 50%;
            margin-bottom: 5%;
            border-radius: 50%;
            border: 3px $third-color solid;
            img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                border: 1rem solid $secondary-color;
            }
        }
    }
    .blog-header {
        height: 50vh;
    }
    .text-container .deep-text-container {
        margin-left:0;
    }

    .get-in-touch-header {
        height: 50vh;
    }

    .contact-container {
        flex-wrap: wrap;
        .contact-box1{
            order: 3;
            width: 100%;
            display:flex;
            flex-direction: column;
            align-items: center;
        }
        .contact-box2 {
            width: 100%;
            display:flex;
            flex-direction: column;
            align-items: center;
            .form-blog{
                position: static;
                margin-top: 10%;
            }
        }
    }
}

/* Landscape phones and down */
@media (max-width: 580px) ,(max-height: 800px)  {
    .header-bottom-container {
        h1 {
            font-size: 40px;
        }
    }
    h2 {
        font-size: 40px;
        line-height: 60px;
        padding-top: 1.5rem;
    }
    .header-boat {
        align-items: center;
    }
    .index-header, .get-in-touch-header {
        height: auto;
    }
    .get-in-touch-header h1 {
        margin-bottom: 0;
    }

    .wrapper {
        width: 95%;
    }
    .about .container-boxes .box {
        flex-direction: column;
        align-items: center;
    }
    .i-container i {
        background: $third-color;
        padding:30px;
        border-radius: 50%;
        font-size: 2.5rem;
        color:$secondary-color;
        margin-left:15%;
    }
    .box-text h2, p {
        text-align: center;
    }
    .program .box a, .win-trip .box a, .win-trip .box h2 {
        width: 100%;
        text-align: center;
    }
    .blog-header {
        height: auto;
        h1 {
            margin-bottom: 0;
        }
    }
    .text-container .deep-text-container{ 
        h2 {
            margin-bottom: 10%;
        }
        p {
            line-height: 40px;
            padding-bottom: 10%;
        } 
    }

    .comments {
        margin:0;
        padding: 0;
    }
    box-text h2, p {
        text-align: left;
    }

    .comments h3{
        text-align: center;
    }
    .form-blog .input-container input[type="text"], .form-blog .input-container input[type="email"] {
        padding: 1rem 0;
    }

    .contact-box2 .form-blog {
        width: 98%;
        padding: 4rem 1rem;
    }
    .form-blog .input-container{
        input[type="text"]:focus,input[type="email"]:focus {
            font-size: 1rem;
        }
        input[type="text"]:active,input[type="email"]:active {
            border: 0.25rem red solid;
        }        
    }
}
/*Even smaller*/
@media(max-width: 350px){
    .header-bottom-container {
        h1 {
            font-size: 35px;
        }
    }
    h2 {
        font-size: 30px;
        line-height: 50px;
    }
    .program .container .box2 {
        padding-top: 35%;
    }
    .contact-box2 .form-blog {
        width: 100%;
        padding: 4rem 0.5rem;
        box-shadow: none;
        border: $third-color solid 1px;
    }

    .contact-box1 p {
        text-align: center;
    }
}